table {
    background-color: rgb(158, 160, 241);
    margin-left: 250px;
    width: 1300px;
    height: 300px;
}


td {
    text-align: center;
    font-size: xxx-large;
    font-family: arial;
}

button {
    width: 700px;
    height: 70px;
}

h2 {
    margin-left: 80px;
}

.row {
    margin-left: 250px;
}


h2 {
    margin-left: 50px;
}